html {
  text-align: center;
  background: url(background.jfif) no-repeat center fixed;
  background-size: cover;
}
hr {
  width: 800px;
}
button {
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  color: white;
  border-radius: 4px;
}
button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
span {
  text-decoration: underline;
}
input {
  width: 80px;
  border-width: 3px;
  border-color: black;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(173, 216, 230, 0.7);
  margin: 100px 100px auto;
  padding: 30px 30px;
  border-radius: 50px;
}
